*{
   margin: 0px;
   padding: 0;
   font-family: sans-serif;
}

.home-container{

   width: 100%;
	height: 100vh;
   background-size: cover;
   background-position: center;
   align-items: center;
   background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url(../images/kristof-korody-bjV-7zfKF1g-unsplash.jpg);
}

.nav-container{

}

.nav-container nav ul {
	list-style-type: none;
	padding: 0;
   transform: translateY(0%);
}

.nav-container nav a {
   display: block;
   width: 200px;
   padding: 15px;
   border-radius: 25px;
   font-weight: bold;
   margin-bottom: 20px;
   border: 2px solid #009688;
   background: transparent;
   color: #fff;
   cursor: pointer;
   position: relative;
   overflow: hidden;
}

.nav-container nav span {
   background: #009688;
   height: 100%;
   width: 0;
   text-align: center;
   border-radius: 25px;
   position: absolute;
   left: 0;
   bottom: 0;
   z-index: -1;
   transition: 0.5s;
}

.nav-container nav a:hover span {
   width: 100%;
}

.tasks-container{
   border: 2px solid #009688;
   margin: 0;
   box-sizing: border-box;
   font-family: sans-serif;
   color: #fff;
   display: flex;
   /*very important for choosing items in rows or column positioning*/
   flex-direction: column;
   min-height: 80vh;
   background-color: var(--dark);
}

.tasks-container header{
   padding: 2rem 1rem;
   max-width: 800px;
   width: 100%;
   margin: 0 auto;
}

.tasks-container header h1{
   font-size: 2.5rem;
	font-weight: 300;
	color: var(--grey);
	margin-bottom: 1rem;
}

#new-task-form {
	display: flex;;
}

.tasks-container input, button {
   appearance: none;
   border: none;
   outline: none;
   background: none;
}

#new-task-input {
	flex: 1 1 0%;
	background-color: var(--darker);
	padding: 1rem;
	border-radius: 1rem;
	margin-right: 1rem;
	color: var(--light);
	font-size: 1.25rem;
}

#new-task-input::placeholder {
	color: var(--grey);
}

#new-task-submit {
	color: var(--pink);
	font-size: 1.25rem;
	font-weight: 700;
	background-image: linear-gradient(to right, var(--pink), var(--purple));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	cursor: pointer;
	transition: 0.4s;
}

#new-task-submit:hover {
	opacity: 0.8;
}

#new-task-submit:active {
	opacity: 0.6;
}

.tasks-container main{ 
   flex: 1 1 0%;
	max-width: 800px;
	width: 100%;
	margin: 0 auto;
}

.task-list {
   padding: 1rem;
}

.task-list h2 {
   font-size: 1.5rem;
	font-weight: 300;
	color: var(--grey);
	margin-bottom: 1rem;
}

#tasks .task {
	display: flex;
	justify-content: space-between;
	background-color: var(--darkest);
	padding: 1rem;
	border-radius: 1rem;
	margin-bottom: 1rem;
}

.task .content {
	flex: 1 1 0%;
}

.task .content .text {
	color: var(--light);
	font-size: 1.125rem;
	width: 100%;
	display: block;
	transition: 0.4s;
}

.task .content .text:not(:read-only) {
	color: var(--pink);
}

.task .actions {
	display: flex;
	margin: 0 -0.5rem;
}

.task .actions button {
	cursor: pointer;
	margin: 0 0.5rem;
	font-size: 1.125rem;
	font-weight: 700;
	text-transform: uppercase;
	transition: 0.4s;
}

.task .actions button:hover {
	opacity: 0.8;
}

.task .actions button:active {
	opacity: 0.6;
}

.task .actions .edit {
	background-image: linear-gradient(to right, var(--pink), var(--purple));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.task .actions .delete {
	color: crimson;
}